@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  src: url(/fonts/NotoSans-0WM-Regular.woff2) format(woff2);
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  src: url(/fonts/NotoSans-0WM-Italic.woff2) format(woff2);
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  src: url(/fonts/RobotoMono-0WM-Regular.woff2) format(woff2);
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: italic;
  src: url(/fonts/RobotoMono-0WM-Italic.woff2) format(woff2);
}

html {
  background: #f8f8f8;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  container: body / inline-size;
  --accent-1: #04ab9e;
  --accent-2: #2dabe3;
  --accent-3: #e7267a;
  --accent-4: #124257;
}

a {
  color: var(--accent-3);
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  color: var(--accent-1);
  position: relative;
  overflow: hidden;
  font-style: italic;
  padding-left: 6px;
  margin-left: -6px;
}

h1::after {
  content: "";
  width: 100%;
  background: var(--accent-1);
  position: absolute;
  height: 8px;
  width: 100%;
  bottom: 10px;
  margin-left: 8px;
  opacity: .15;
}

h2 {
  color: var(--accent-2);
}

h3 {
  color: var(--accent-3);
}

h4 {
  text-decoration: underline dashed;
}

[id] {
  scroll-margin-top: 71px;
}

p {
  margin: 16px 0;
}

strong {
  font-weight: 600;
}

nav {
  padding: 12px 30px;
  background: #fffffff6;
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(12px);
  box-sizing: border-box;
  z-index: 1;
  border-bottom: 1px solid #0002;
}

nav * {
  height: 40px;
  display: inline-block;
  vertical-align: top;
}

nav > ul {
  margin: 0 0 0 30px;
  padding: 0;
}

nav > ul a, a.button {
  color: #444;
  background: #00000006;
  transition: .2s ease;
  transition-property: color, background;
}

nav > ul > li {
  font-size: .9rem;
  font-weight: 500;
  white-space: nowrap;
  line-height: 38px;
  position: relative;
}

nav > ul > li > a {
  padding: 0 16px;
  border-radius: 20px;
  box-shadow: 0 1px 1px #0002;
}

nav > ul > li:not(:first-child) {
  margin-left: 10px;
}

nav > ul a:hover, a.button:hover {
  background: #0000000e;
  color: #111;
}

nav > ul > li > ul {
  padding: 0;
  line-height: 34px;
  height: auto;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  width: 100%;
  display: none;
  box-shadow: 0 1px 2px #0004;
  background: #fff;
}

nav > ul > li > ul * {
  height: 36px;
}

nav > ul > li > ul > li {
  display: block;
}

nav > ul > li > ul > li > a {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

nav > ul > li.current > a {
  box-shadow: inset 0 0 0 2px #0002;
}

nav > ul > li > ul > li.current > a {
  box-shadow: inset 5px 0px #0002;
}

nav > ul > li.current-sub > a {
  box-shadow: inset 0 -103px 0px -100px #0002;
}

aside.toc {
  position: fixed;
  top: 77px;
  background: #fff;
  padding: 6px 6px 6px 10px;
  font-size: .9rem;
  right: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 123px);
  line-height: 16px;
  color: var(--accent-4);
  width: 178px;
  border-radius: 10px;
  border: 1px solid #0002;
}

aside.toc > ul li::before {
  content: "";
  display: inline-block;
  margin-left: -8px;
  border: 1px solid;
  vertical-align: top;
  margin-top: 8px;
}

aside.toc > ul li::marker {
  content: "";
  color: #fff;
}

aside.toc > ul > li::before {
  width: 4px;
  height: 4px;
  border-radius: 3px;
  display: inline-block;
}

aside.toc > ul {
  margin: 0;
  padding-left: 10px;
}

aside.toc > ul ul {
  padding-left: 12px;
}

aside.toc > ul > li > ul > li::before {
  width: 3px;
  height: 3px;
  transform: rotate(45deg);
}

aside.toc > ul > li > ul > li > ul > li::before {
  width: 3px;
  height: 3px;
}

aside.toc li > a {
  margin-left: 7px;
  display: inline-block;
  color: var(--accent-4);
  padding: 2px 0;
}

aside.toc::before {
  content: "";
  position: absolute;
  margin-top: max(0px, var(--viewport-start));
  height: calc(var(--viewport-end) - max(0px, var(--viewport-start)));
  width: calc(100% - 12px);
  transition: all .1s ease;
  left: 6px;
  box-sizing: border-box;
  border-left: 2px solid var(--accent-2);
  background: #2dabe318;
  pointer-events: none;
  border-radius: 2px;
}

aside.toc.hide-viewport::before {
  display: none;
}

main {
  padding: 20px 35px;
  width: 100%;
  text-align: center;
  background: #fff;
  box-sizing: content-box;
  top: 64px;
  position: absolute;
  border: 1px solid #0002;
  border-left: 0;
  max-width: 1000px;
}

main > * {
  max-width: 1000px;
  text-align: left;
}

main > :first-child {
  margin-top: 0;
}

main > :last-child {
  margin-bottom: 0;
}

code span.co, code span.co > a {
  font-style: italic;
  color: var(--accent-1);
}

code, pre {
  font-family: "Roboto Mono", monospace;
  font-size: .9rem;
}

code span.an {
  font-weight: 900;
  user-select: none;
  color: var(--accent-2);
}

code span.at {
  font-weight: 700;
}

code span.va {
  color: var(--accent-2);
  font-weight: 600;
}

pre {
  border: 1px solid #0003;
  padding: 3px 6px;
  border-radius: 0 10px 10px 10px;
  position: relative;
  margin: 32px 0 8px 0;
}

pre::before {
  content: attr(class);
  position: absolute;
  left: -1px;
  padding: 0 6px;
  top: -22px;
  height: 20px;
  border: 1px solid #0003;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}

code var {
  font-style: inherit;
  color: var(--accent-2);
}

main > img {
  width: 100%;
}

.phone {
  text-align: center;
  font-size: 0;
}

.phone > p {
  border-radius: 24px;
  border: 5px solid #fff;
  display: inline-block;
  overflow: hidden;
  font-size: 0px;
  position: relative;
  box-shadow: 0 2px 12px -8px #000;
  margin: 10px;
  background: url(/img/client-environment.jpg) center/cover;
}

.phone > p > img {
  max-width: 300px;
}

.phone > p:not(.nocam)::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 9px;
}

h2 > a, h3 > a {
  position: relative;
  width: 6px;
  height: 6px;
  display: inline-block;
  border-top: 2px solid;
  border-right: 2px solid;
  margin-left: 14px;
  box-shadow: -4px 0 0 9px #fff;
  color: inherit;
}

h2 > a {
  margin-bottom: 4px;
}

h3 > a {
  margin-bottom: 3px;
}

h2 > a::before, h3 > a::before {
  content: "";
  height: 9px;
  transform: rotate(45deg);
  position: absolute;
  right: -2px;
  top: -1px;
  transform-origin: top;
  border: 1px solid;
}

h2 > a::after, h3 > a::after {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: -6px;
  right: -6px;
  border-radius: 3px;
  border: 1px solid;
  box-sizing: border-box;
}

code {
  background: #0001;
  border-radius: 3px;
  padding: 1px 5px;
  display: inline-block;
}

pre code {
  background: revert;
  padding: 0;
  overflow-x: auto;
  display: block;
}

main > .audience, main > .note, main > .warn {
  padding: 4px 4px 4px 8px;
  border-radius: 3px;
  margin: 16px 0;
}

main > .audience > p:first-child, main > .note > p:first-child, main > .warn > p:first-child {
  margin-top: 0;
}

main > .audience > p:last-child, main > .note > p:last-child, main > .warn > p:last-child {
  margin-bottom: 0;
}

main > .audience {
  background: #04ab9e18;
  border-left: 4px solid var(--accent-1);
  color: #0d554f;
}

main > .audience > p > strong {
  box-shadow: 5px 0 8px -9px #000;
  padding: 4px 8px 4px 0;
  margin-right: 8px;
  border-radius: 16px / 32px;
  border-right: 1px solid #fff5;
}

main > .audience > p > a {
  color: inherit;
  background: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  display: inline-block;
  padding-right: 3px;
  box-shadow: 0 1px 7px -6px #000;
}

main > .audience > p > a::before {
  content: "§";
  padding: 0 3px;
  margin-right: 3px;
  border-radius: 5px;
  box-shadow: 2px 0 7px -5px #000;
}

main > .note {
  background: #2dabe318;
  border-left: 4px solid var(--accent-2);
  color: var(--accent-4);
}

main > .warn {
  background: #e7267a18;
  border-left: 4px solid var(--accent-3);
  color: #771540;
}

a.button {
  padding: 8px 10px;
  border-radius: 100px;
  box-shadow: 0 1px 1px #0002
}

a.button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a.button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #0001;
}

.center {
  text-align: center;
}

a.button:first-child {
  padding-left: 14px;
}

a.button:last-child {
  padding-right: 14px;
}

table th {
  font-weight: 600;
}

table {
  border-spacing: 0px;
  margin: 0 auto;
}

table th {
  padding: 4px 12px;
  text-align: center;
}

table td {
  border-top: 1px solid #bbb;
  padding: 4px 8px;
  border-left: 1px solid #bbb;
}

table td:last-of-type {
  border-right: 1px solid #bbb;
}

table tr:first-child > td:first-of-type {
  border-top-left-radius: 6px;
}

table tr:first-child > td:last-of-type {
  border-top-right-radius: 6px;
}

table tr:last-child > td:first-of-type {
  border-bottom-left-radius: 6px;
}

table tr:last-child > td:last-of-type {
  border-bottom-right-radius: 6px;
}

table tr:last-child > td {
  border-bottom: 1px solid #bbb;
}

table > tbody > tr:nth-child(even) > td {
  background: #00000009;
}

img.inline {
  height: 20px;
  vertical-align: top;
  position: relative;
  top: 1px;
}

img.single {
  max-width: 70%;
}

img.pair {
  max-width: calc(50% - .5em);
}

img.pair:first-of-type {
  margin-right: 1em;
}

.anchor {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 2px solid #fff;
  text-align: center;
  font-weight: bold;
  color: #fff;
  box-shadow: #000 0px 1px 6px -3px;
  font-size: 0.75rem;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 1px;
  line-height: 16px;
}

.anchor.one {
  background: #e11;
}

.anchor.two {
  background: #1b1;
}

.anchor.three {
  background: #11f;
}

@container body (max-width: 1290px) {
  aside.toc {
    top: 65px;
    border-bottom: 1px solid #0002;
    right: 0;
    left: 1071px;
    max-height: calc(100vh - 81px);
    width: auto;
    border-radius: 0;
    border-width: 0 0 1px 0;
  }
}

@container body (max-width: 1270px) {
  aside.toc {
    left: calc(100vw - 220px);
  }

  main {
    padding: 20px calc(50vw - 610px);
  }
}

@container body (max-width: 1240px) {
  main {
    width: calc(100vw - 260px);
    padding: 20px;
  }
}

@container body (max-width: 1000px) {
  img.single, img.pair {
    max-width: 100%;
    margin: 0;
  }
}

@container body (max-width: 768px) {
  aside.toc {
    display: none;
  }

  nav {
    padding: 12px 24px;
  }

  main {
    padding: 20px 35px;
    border: none;
    width: calc(100% - 70px);
  }
}

@container body (min-width: 650.01px) {
  nav > ul > li.menu > a::after {
    content: "";
    border: 4px solid transparent;
    border-top: 5px solid;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: 2px;
  }

  nav > ul > li.menu:hover > a {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 2px #0004;
  }

  nav > ul > li:hover > ul {
    display: block;
  }
}

@container body (max-width: 650px) {
  [id] {
    scroll-margin-top: 130px;
  }

  nav {
    padding: 10px;
    text-align: center;
  }

  nav > a {
    margin-bottom: 10px;
  }

  nav > ul {
    display: block;
    margin: 0;
    height: 41px;
    overflow: auto;
    white-space: nowrap;
  }

  main {
    top: 112px;
  }
}
